@import "fonts"
@import "libs"
@import "vars"
@import "extends"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	text-transform: uppercase
	overflow-x: hidden
	opacity: 1
	&.ishome
		.site-header
			min-height: 700px
			height: 100vh
			background-color: #333

header, section
	position: relative
	background-size: cover
	background-position: center

.img-responsive
	display: block
	max-width: 100%
	height: auto

.top-line
	min-height: 97px
	width: 100%
	background-color: rgba(#242424, .5)
	box-shadow: rgba(#fff, .15) 0 0 0 1px
	padding-top: 21px
	.top-addr
		background-image: url(../../img/marker.png)
		background-position: left center
		background-repeat: no-repeat
		padding-left: 50px
		line-height: 1.1
		strong
			display: block
			color: $accent
			font-size: 31px
			font-weight: bold
		a
			@extend %top-links

	.logo
		position: absolute
		margin: -18px

	.topline-right 
		background-image: none
		padding-left: 0
		text-align: right

.site-header
	h1
		padding-top: 65px
		font-family: $default-font
		text-align: center
		color: #fff
		font-size: 40px
		text-shadow: rgba(#000, .5) 0 1px
		span 
			color: $accent

.buttons-top	
	position: absolute
	bottom: 200px
	width: 100%

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 15px 45px
	font-size: 26px
	text-transform: uppercase
	letter-spacing: 1px
	border-radius: 2px
	text-align: left
	position: absolute
	outline: none
	transition: background-color .3s ease
	cursor: pointer
	margin-right: 40px
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32
.fb
	background-image: url(../../img/camera.png)
	background-repeat: no-repeat
	background-position: 13px center
	padding: 
		left: 70px
		right: 25px

.top-menu
	height: 72px
	width: 100%
	position: absolute
	bottom: 0
	background-color: #242424
	box-shadow: rgba(#fff, .15) 0 0 0 1px
	ul
		padding-left: 15px 
		margin: 0
		list-style-type: none
	a
		color: #c9c9c9
		font-size: 20px
		padding: 0 35px
		display: block
		line-height: 72px
		text-decoration: none	
		&.active
			color: $accent
			&:before
				color: $accent

	li
		float: left
		border-left: #383838 1px solid
		transition: all .25s ease
		&:last-child
			border-right: #383838 1px solid
		&:hover
			background-color: #050505
		a:before	
			font-family: fontawesome
			font-size: 20px
			color: #c9c9c9
			margin:
				right: 10px
				bottom: 10px
	@each $item, $icon in (1: '\f015', 2: '\f007', 3: '\f155', 4: '\f21c', 5: '\f2b5', 6: '\f041') 
	  li:nth-child(#{$item}) a:before 
	    content: '#{$icon}'


.warranty	
	color: #fff
	float: right
	cursor: default
	border: 3px solid #fff
	border-radius: 3px 
	padding: 2px 7px
	margin-top: 7px
	&-left
		font-weight: bold
		font-size: 23px
		margin-right: 7px
		color: $accent
		span
			font-size: 37px
			font-weight: bold
	&-right
		font-size: 18px
		margin-top: 3px
	&-left, &-right
		display: inline-block
		line-height: 20px

.main-content-black
	background-color: #191919
	h2
		text-align: center
		color: #c9c9c9
		padding: 20px 0 30px
		font-size: 40px
		position: relative
		span
			color: $accent
		&::before, &::after
			font-family: fontawesome
			font-size: 18px
			top: 38px
			position: absolute
		&::before
			margin-left: -25px
			content: '\f053'
		&::after
			margin-left: 12px
			content: '\f054'
.category-wrap
	margin: 0
	padding: 0
	width: 100%
	position: relative

	.category-items-wrap
		border: 1px solid #353535 
		border-radius: 2px
		width: 158px
		display: inline-block
		margin-left: 29px
		&:hover, &.active
			background-color: #2a2a2a
			transition: all .5s ease
		a
			color: #fff
			text-decoration: none
			img
				display: block
				width: 120px
				height: 85px
				margin: 10px auto
			h4
				text-align: center
				font-size: 24px
				margin: .5em
			.arrow-toggle
				height: 25px
				background-color: #212121
				position: relative
				font-size: 10px
				text-align: center
				line-height: 25px
				&:hover
					color: $accent
		ul
			position: absolute
			margin-top: 25px
			list-style-type: none
			background-color: #353535
			width: auto
			font-size: 18px
			padding: 0
			z-index: 10
			display: none
			li
				display: inline-block
				padding: 10px 20px
				a
					color: #fff
					border-bottom: dashed 1px
					transition: all .25s ease
					&:hover
						text-decoration: none
						border-bottom: transparent dashed 1px
					




		 









	
		





@import "media" // Всегда в конце
