extends template

block content
	+about()
	+search()
	+destination({
		"grid": [
			{
			"href": "##",
			"link": "img/popular/1.jpg",
			"alt": "destination",
			"title": "destination #1"
			},
			{
			"href": "##",
			"link": "img/popular/2.jpg",
			"alt": "destination",
			"title": "destination #2"
			},
			{
			"href": "##",
			"link": "img/popular/3.jpg",
			"alt": "destination",
			"title": "destination #3"
			},
			{
			"href": "##",
			"link": "img/popular/4.jpg",
			"alt": "destination",
			"title": "destination #4"
			},
			{
			"href": "##",
			"link": "img/popular/5.jpg",
			"alt": "destination",
			"title": "destination #5"
			},
			{
			"href": "##",
			"link": "img/popular/6.jpg",
			"alt": "destination",
			"title": "destination #6"
			},
			{
			"href": "##",
			"link": "img/popular/7.jpg",
			"alt": "destination",
			"title": "destination #7"
			},
			{
			"href": "##",
			"link": "img/popular/8.jpg",
			"alt": "destination",
			"title": "destination #8"
			}
		]
	})
	+sale()
	+news({
		"news": [
			{
			"href": "##",
			"link": "img/news/news1.jpg",
			"alt": "news",
			"article": "Amazing trip number one",
			"author": "Author name",
			"date": "01-03-2017",
			"refa": "###",
			"refd": "####"
			},
			{
			"href": "##",
			"link": "img/news/news2.jpg",
			"alt": "news",
			"article": "Amazing trip number two",
			"author": "Author name",
			"date": "01-03-2017",
			"refa": "###",
			"refd": "####"
			},
			{
			"href": "##",
			"link": "img/news/news3.jpg",
			"alt": "news",
			"article": "Amazing trip number three",
			"author": "Author name",
			"date": "01-03-2017",
			"refa": "###",
			"refd": "####"
			},
			{
			"href": "##",
			"link": "img/news/news4.jpg",
			"alt": "news",
			"article": "Amazing trip number four",
			"author": "Author name",
			"date": "01-03-2017",
			"refa": "###",
			"refd": "####"
			}
		]
	})
