include _assets/bemto/bemto
- set_bemto_settings({ prefix: "rt-", modifier: "--" })

include head/head
include header/header

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Title",
				"author": "Roman Tsymbal",
				"description": "Template",
			})

		+b.BODY.page
			+e.wrap

				block header
					+header()
					
					//- imported blocks
					
				block content
					section content
					
					//- imported blocks
					
				block footer
					footer footer
					
					//- imported blocks
					
					
			block styles			
				// build:css css/main.css
				link(rel="stylesheet", href="libs/font-awesome/css/font-awesome.min.css")
					//- plugin styles
				link(rel="stylesheet", href="css/main.css")
				// endbuild
				
			block scripts
				// build:js js/main.js
				script( src="libs/jquery/dist/jquery.min.js")
				//- plugin scripts
				script( src="js/main.js")
				// endbuild
