include _assets/bemto/bemto
- set_bemto_settings({ prefix: "rt-", modifier: "--" })

include head/head
include header/header
include section/about/about
include section/search/search
include section/destination/destination
include section/sale/sale
include section/news/news
include footer/footer

doctype html
html(lang="en")

	block head
		head
			+head({
				"title": "Let's Travel | The best travel agency",
				"author": "Roman Tsymbal",
				"description": "Template",
				"path": "img/keepcalm.png"
			})

		+b.BODY.page
			+e.wrap

				block header
					+header({
						"menu": [
							{
							"name": "Home",
							"hreaf": "##"
							},
							{
							"name": "Destinations",
							"hreaf": "##"
							},
							{
							"name": "Transfers",
							"hreaf": "##"
							},
							{
							"name": "News",
							"hreaf": "##"
							},
							{
							"name": "Dates & Prices",
							"hreaf": "##"
							},
							{
							"name": "Gallery",
							"hreaf": "##"
							},
							{
							"name": "About us",
							"hreaf": "##"
							}
						]
					})
					
					
				block content
					section content
					
				block footer
					+footer({
					"service": [
						{
						"href": "##",
						"title": "Additional servece # one"
						},
						{
						"href": "##",
						"title": "Additional servece # two"
						},
						{
						"href": "##",
						"title": "Additional servece # three"
						},
						{
						"href": "##",
						"title": "Additional servece # four"
						},
						{
						"href": "##",
						"title": "Additional servece # five"
						}
					]
					})
					
					
					
			block styles			
				// build:css css/main.css
				link(rel="stylesheet", href="libs/font-awesome/font-awesome.min.css")
					//- plugin styles
				link(rel="stylesheet", href="css/main.css")
				// endbuild
				
			block scripts
				// build:js js/main.js
				script( src="libs/jquery/jquery.min.js")
				script( src="libs/smooth-scroll/smoothScroll.js")
				script( src="libs/ripple-effects/clickEffect.js")
				//- plugin scripts
				script( src="js/main.js")
				// endbuild
