mixin destination(data)
	+b.SECTION.destination
		+e.wrap
			+e.container
				+b.section-title
					+e.H2.title Most popular destination
				+b.grid-img
					each item in data.grid
						+e.item
							a(href=item.href)
								img(src=item.link, alt=item.alt)
								+e.dest-title
									h3= item.title
				+b.A(href="##").button.dest-btn View more
					span
