.rt-destination
	&__wrap
		padding: 50px 15px

	&__container
		margin: 0 auto
		max-width: 1170px
		+r(1200)
			margin: 0 15px

.rt-section-title
	&__title
		text-transform: uppercase
		font-size: 30px
		&::before
			content: '\f005  \f005  \f005'
			display: block
			color: $accent
			font-family: "fontawesome"
			font-size: 13px
		span
			color: $accent
			font-weight: 900

.rt-grid-img
	display: grid
	grid-template-columns: repeat(4, 1fr)
	grid-gap: 20px
	+r(960)
		grid-template-columns: repeat(2, 2fr)
	+r(500)
		grid-template-columns: 100%
	&__item
		position: relative
		transition: all 500ms linear
		img
			display: block
			position: relative
			width: 100%
			filter: brightness(.7)
			transition: all .5s ease
			&:hover
				filter: none

	&__dest-title
		position: absolute
		top: 5%
		left: 50%
		display: block
		white-space: nowrap
		transform: translate(-50%, 0)
		text-transform: uppercase


.rt-button
	+btn-anim()

.rt-dest-btn
	max-width: 200px
	display: block
	margin: 40px auto
