.rt-destination
	&__wrap
		padding: 50px 15px

	&__container
		max-width: 1170px
		margin: 0 auto

.rt-section-title
	&__title
		text-transform: uppercase
		font-size: 30px
		&::before
			content: '\f005  \f005  \f005'
			display: block
			color: $accent
			font-family: "fontawesome"
			font-size: 13px
		span
			color: $accent
			font-weight: 900

.rt-grid-img
	display: grid
	grid-template-columns: repeat(4, 1fr)
	grid-gap: 20px
	img
		display: block
		width: 100%

.rt-dest-btn
	max-width: 200px
	display: block
	margin: 40px auto
