mixin search()
	+b.SECTION.search
		+e.wrap--overlay(style="background-image: url(img/search-bg.jpg)")
			
			+b.search-widget
				+e.plane-img
					IMG(src="img/plane.png", alt="plane")
				+e.title
					H2 Find your tour
				+e.plane-bus
					a(href="##") Plain
					a(href="##") Bus
				+b.FORM.form
					+e.input-field
						label(for="start_date") Destination
						input(id="start_date" type="text" class="validate" placeholder="Type here...")
					+e.input-field
						label(for="start_date") Start date
						input(id="start_date" type="text" class="validate" placeholder="Enter the date...")
						
					+e.input-field
						label(for="start_date") End date
						input(id="start_date" type="text" class="validate" placeholder="Enter the date...")
					+e.input-field
						label(for="start_date") Number of persons
						input(id="start_date" type="text" class="validate" placeholder="Enter the number...")
				+b.A(href="##").search-button Search
