doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title Title
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta( name='viewport', content='width=device-width, initial-scale=1')
		meta(property="og:image" content="path/to/image.jpg")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		<!-- Chrome, Firefox OS and Opera -->
		meta(name="theme-color" content="#000")
		<!-- Windows Phone -->
		meta(name="msapplication-navbutton-color" content="#000")
		<!-- iOS Safari -->
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")
		style.
			body { opacity: 0; overflow-x: hidden; } 
			html { background-color: #fff; }

	body.main-page
		header.main-head
			.carousel-services
				.slide
					.slide-bg(style="background-image:url(img/slide-1.jpg)").section-overlay
					.slide-content
						.container
							.row
								.col-md-5.col-md-offset-1
									h2 Первая оценочная компания Москвы
									p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Его это злых рыбного взгляд дороге имеет мир от всех, собрал несколько родного!
									a(href="#").button Список услуг
								.col-md-5
									.slide-img-wrap.hidden-sm.hidden-xs
										img(src="img/slide-img-1.png", alt="alt")
				.slide
					.slide-bg(style="background-image:url(img/slide-1.jpg)").section-overlay
					.slide-content
						.container
							.row
								.col-md-5.col-md-offset-1
									h2 Первая оценочная компания Москвы
									p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Его это злых рыбного взгляд дороге имеет мир от всех, собрал несколько родного!
									a(href="#").button Список услуг
								.col-md-5
									.slide-img-wrap.hidden-sm.hidden-xs
										img(src="img/slide-img-1.png", alt="alt")
				.slide
					.slide-bg(style="background-image:url(img/slide-1.jpg)").section-overlay
					.slide-content
						.container
							.row
								.col-md-5.col-md-offset-1
									h2 Первая оценочная компания Москвы
									p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Его это злых рыбного взгляд дороге имеет мир от всех, собрал несколько родного!
									a(href="#").button Список услуг
								.col-md-5
									.slide-img-wrap.hidden-sm.hidden-xs
										img(src="img/slide-img-1.png", alt="alt")

			section.inside-slider
				nav.top-line.hidden-xs
					ul.sf-menu
						li
							a(href="#").active Главная
						li
							a(href="#") О компании
						li
							a(href="#") Услуги и стоимость
							ul
								li
									a(href="#") Подменю
								li
									a(href="#") Подменю
								li
									a(href="#") Подменю
						li
							a(href="#") Сертификаты
						li
							a(href="#") Статьи
						li
							a(href="#") Контакты

				.top-panel
					.top-panel-content 
						.container
							.row
								.col-md-2.col-sm-6.col-xs-6
									a(href="#").logo
										img(src="img/logo.png", alt="jurdis").img-responsive
								.col-md-4.hidden-sm.hidden-xs
									.top-panel-box
										h4 Адреса организации
										ul
											li г.Москва, ул. Соколовского, д. 3 офис № 305
												i.fa.fa-map-marker 
											li г.Москва, ул. Соколовского, д. 3 офис № 305
												i.fa.fa-map-marker 

								.col-md-3.hidden-sm.hidden-xs
									.top-panel-box
										h4 Время работы
										ul
											li пн-пт с 10-00 до 18-00,<br> перерыв с 13-00 до 14-00<br> сб-вс выходной день.
												i.fa.fa-clock-o 

								.col-md-3.col-sm-6.col-xs-6
									.contacts
										.top-phone 
											i.fa.fa-phone
											<span>8 (800)</span> 111-222-333, 444-555-666
										.top-email
											i.fa.fa-envelope
											<span>E-mail:</span> 
											a(href="mailto:email.sender@gmail.com") email.sender@gmail.com
										.top-button
											a(href="#").button Заказать звонок


			


		link(rel="stylesheet" href="css/main.min.css")
		script(src="js/scripts.min.js")

