.rt-about
	margin-bottom: 70px
	&__container
		+container()
		background: right center no-repeat

	&__text
		display: block
		width: span(7)
		align-self: center
		padding: 80px 0
		p
			line-height: 1.65
