doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title Title
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta( name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(property="og:image" content="path/to/image.jpg")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		<!-- Chrome, Firefox OS and Opera -->
		meta(name="theme-color" content="#000")
		<!-- Windows Phone -->
		meta(name="msapplication-navbutton-color" content="#000")
		<!-- iOS Safari -->
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")
		style.
			body { opacity: 0; overflow-x: hidden; } 
			html { background-color: #fff; }




	body.main-page
		header(style="background-image: url(img/top-bg.jpg)").rt-header
			.top-line
				.top-line__contacts
					.container
						.row
							.col.xl2
								.phone
									i.fa.fa-phone  
										span 001.541.754.30
							.col.xl2
								.e-mail
									i.fa.fa-envelope 
										a(href="mailto:info@romanstour.com") info@romanstour.com
							.col.xl5
								.social
									a(href="#")
										i.fa.fa-facebook
									a(href="#")
										i.fa.fa-twitter
									a(href="#")
										i.fa.fa-google-plus 
							.col.xl3
								.authorize
									i.fa.fa-lock   
										a(href="#") Login
									i.fa.fa-user   
										a(href="#") Sing Up
				.top-line__menu
					.container
						.row
							.col.xl2
								a(href="#").rt-logo
									img(src="img/logo.svg", alt="logo")
							.col.xl9
								nav.rt-menu
									ul.sf-menu
										li
											a(href="#") Destination
											ul.sf-sub-menu
												li
													a(href="#") Country #1
												li
													a(href="#") Country #2
												li
													a(href="#") Country #3
												li
													a(href="#") Country #4
												li
													a(href="#") Country #5
										li
											a(href="#") Trip types
											ul.sf-sub-menu
												li
													a(href="#") Type #1
												li
													a(href="#") Type #2
												li
													a(href="#") Type #3
										li
											a(href="#") News
										li
											a(href="#") Dates & Prises
										li
											a(href="#") About us
							.col.xl1
								.rt-search
									i.fa.fa-search

		link(rel="stylesheet" href="css/style.min.css")
		script(src="js/scripts.min.js")

