mixin header(data)
	+b.HEADER.header(style="background-image: url(img/top-bg.jpg)")
		+b.top-line
			+e.container
				+e.logo
					a(href="##")
						img(src="img/logo/logo.svg", alt="logo")
				+e.right-block
					+b.first-line
						+e.search
							+e.A(href="##")
								i.fa.fa-search
						+e.soc
							+e.A(href="##")
								i.fa.fa-google-plus
							+e.A(href="##")
								i.fa.fa-facebook
							+e.A(href="##")
								i.fa.fa-twitter
						+e.contacts
							+e.phone
								i.fa.fa-phone
								span 1.222.333.4444
							+e.e-mail
								i.fa.fa-envelope
								+e.A(href="mailto:info@letstravel.org?subject=Qastion", target="_blank") info@letstravel.org	

					+b.second-line
						+e.NAV.top-menu
							+b.UL.menu
								each item in data.menu
									+b.menu-item
										+e.A(href=item.hreaf)= item.name
										
		+b.intro
			+e.container
				+e.top-title
					h1.h1 Open your eyes to
						span The hidden world
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
						| sed do eiusmod tempor incididunt ut labore et dolore magna 
						| aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
						| ullamco laboris nisi ut aliquip ex ea commodo consequat.
					a.button(href="##") Learn more

		
