.rt-header
	position: relative
	width: 100%
	min-height: 700px
	height: 100vh
	background-color: #999

.rt-top-line
	position: absolute
	top:
	z-index: 1
	width: 100%
	border-bottom: 1px rgba(255, 255, 255, .5) solid
	&__container
		+container()
	&__right-block
		width: span(last 9)

.rt-logo
	display: flex
	align-items: center
	width: span(first 3)
	min-width: 150px
	img
		display: block
		width: 100%
		height: auto

.rt-first-line, .rt-second-line
	display: flex
	flex-direction: row
	justify-content: flex-end
	white-space: nowrap
	color: #fff

.rt-first-line
	padding: 10px 0

	&__contacts, &__soc, &__search
		margin-left: 30px

	&__soc
		padding: 0 20px
		border-right: 1px rgba(255, 255, 255, .5) solid
		border-left: 1px rgba(255, 255, 255, .5) solid
		.fa
			margin: 0 5px

	&__phone, &__e-mail
		float: right
		margin: 0 15px
		.fa
			&::before
				margin-right: 7px
			span
				font-family: $main-font

.rt-menu-item
	display: inline-block
	padding: 15px

.rt-intro
	display: flex
	height: 100%
	position: relative
	top: 0
	align-items: center
	&__container
		+container()
	&__top-title

		h1
			color: rgba(255, 255, 255, .7)
			font-family: "acrobat"
			font-size: 40px
			font-weight: bold
			width: span(first 8)
			span
				font-size: 82px
				display: block
		p
			display: block
			color: rgba(255, 255, 255, .9)
			line-height: 1.4
			padding-right: 70px
			width: span(first 7)
			&::before
				content: '\f10d'
				font-family: fontawesome
				display: block
				font-size: 20px
				color: $accent
		.button
			margin-top: 25px
