mixin header()
	+b.HEADER.header(style="background-image: url(img/top-bg.jpg)")
		+b.top-line
			+e.container
				+e.logo
					a(href="##")
						img(src="img/logo/logo.svg", alt="logo")
				+e.right-block
					+b.first-line
						+e.contacts
							+e.phone
								i.fa.fa-mobile
								span +48 788 387 555
							+e.e-mail
								i.fa.fa-envelope
								+e.A(href="mailto:info@letstravel.org?subject=Qastion", target="_blank") info@letstravel.org
								
						+e.soc
							+e.A(href="##")
								i.fa.fa-google-plus
							+e.A(href="##")
								i.fa.fa-facebook
							+e.A(href="##")
								i.fa.fa-twitter
						+e.authorize
							+e.login
								i.fa.fa-user
								+e.A(href="##") Login
							+e.singup
								i.fa.fa-lock
								+e.A(href="##") Sing Up
							
					+b.second-line
						+e.NAV.top-menu
							+b.UL.menu
								+b.menu-item
									+e.A(href="##")
										+e.text Home
						+e.search


		
