mixin footer(data)
	+b.FOOTER.footer(style="background-image: url(img/footer.jpg)")
		+e.inner
			+b.footer-grid
				+e.col.bottom-contacts__
					+e.bottom-logo.logo
						a(href="##")
							img(src="img/logo/logo.svg", alt="logo")
					p Lorem ipsum dolor  adipisicing elit sed do eiusmod 
						| tempor aliqua adipisicing ipsum dolor adipisicin
					+e.contacts
						+e.phone
							i.fa.fa-phone
							span 1.222.333.4444
						+e.e-mail
							i.fa.fa-envelope
							+e.A(href="mailto:info@letstravel.org?subject=Qastion", target="_blank") info@letstravel.org
					+e.soc
						+e.A(href="##")
							i.fa.fa-google-plus
						+e.A(href="##")
							i.fa.fa-facebook
						+e.A(href="##")
							i.fa.fa-twitter
				+e.col.bottom-feedback__
					h3 Feedback
					+b.FORM.bottom-form
						+e.input-field
							label(for="start_date") Your name
							input(id="start_date" type="text" class="validate")
						+e.input-field
							label(for="start_date") Your e-mail
							input(id="start_date" type="text" class="validate")
						+e.input-field
							label(for="start_date") Your massage
							input(id="start_date" type="text" class="validate")
						+b.A.send-button(href="##") Send
				+e.col.bottom-services__
					h3 Additional services
					+e.UL.items.services-list__
						each item in data.service
							+e.LI.item
								a(href=item.href)= item.title
				+e.col.bottom-partners__
					h3 Our partners
					+e.image
						img(src="img/partners/partner1.png", alt="img")
						img(src="img/partners/partner2.png", alt="img")
